In [1]:
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [9]:
dataset = pd.read_csv("C:/Users/d3040021/OneDrive - Teesside University/Interactive Visualization/Amazon Sales Report - Group 2 - ICA/Amazon Sale Report - Clean.csv")
dataset.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,Invalid,False,Easy Ship
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,Unidentified
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,Invalid,False,Easy Ship
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,Invalid,False,Unidentified

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            128975 non-null  object
 15  Amount              128975 non-null  float64
 16  ship-city           128975 non-null  object
 17  ship-state          128975 non-null  object
 18  ship-postal-code    128975 non-null  object
 19  ship-country        128975 non-null  object
 20  promotion-ids       128975 non-null  object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        128975 non-null  object
dtypes: bool(1), float64(1), int64(2), object(19)
memory usage: 21.8+ MB

In [11]:
dataset['Date'] = pd.to_datetime(dataset['Date'])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  datetime64[ns]
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      128975 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            128975 non-null  object
 15  Amount              128975 non-null  float64
 16  ship-city           128975 non-null  object
 17  ship-state          128975 non-null  object
 18  ship-postal-code    128975 non-null  object
 19  ship-country        128975 non-null  object
 20  promotion-ids       128975 non-null  object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        128975 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 21.8+ MB

In [12]:
dataset['Date'].unique()

array(['2022-04-30T00:00:00.000000000', '2022-04-29T00:00:00.000000000',
       '2022-04-28T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-04-26T00:00:00.000000000', '2022-04-25T00:00:00.000000000',
       '2022-04-24T00:00:00.000000000', '2022-04-23T00:00:00.000000000',
       '2022-04-22T00:00:00.000000000', '2022-04-21T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-04-19T00:00:00.000000000',
       '2022-04-18T00:00:00.000000000', '2022-04-17T00:00:00.000000000',
       '2022-04-16T00:00:00.000000000', '2022-04-15T00:00:00.000000000',
       '2022-04-14T00:00:00.000000000', '2022-04-13T00:00:00.000000000',
       '2022-04-12T00:00:00.000000000', '2022-04-11T00:00:00.000000000',
       '2022-04-10T00:00:00.000000000', '2022-04-09T00:00:00.000000000',
       '2022-04-08T00:00:00.000000000', '2022-04-07T00:00:00.000000000',
       '2022-04-06T00:00:00.000000000', '2022-04-05T00:00:00.000000000',
       '2022-04-04T00:00:00.000000000', '2022-04-03T00:00:00.000000000',
       '2022-04-02T00:00:00.000000000', '2022-04-01T00:00:00.000000000',
       '2022-03-31T00:00:00.000000000', '2022-05-31T00:00:00.000000000',
       '2022-05-30T00:00:00.000000000', '2022-05-29T00:00:00.000000000',
       '2022-05-28T00:00:00.000000000', '2022-05-27T00:00:00.000000000',
       '2022-05-26T00:00:00.000000000', '2022-05-25T00:00:00.000000000',
       '2022-05-24T00:00:00.000000000', '2022-05-23T00:00:00.000000000',
       '2022-05-22T00:00:00.000000000', '2022-05-21T00:00:00.000000000',
       '2022-05-20T00:00:00.000000000', '2022-05-19T00:00:00.000000000',
       '2022-05-18T00:00:00.000000000', '2022-05-17T00:00:00.000000000',
       '2022-05-16T00:00:00.000000000', '2022-05-15T00:00:00.000000000',
       '2022-05-14T00:00:00.000000000', '2022-05-13T00:00:00.000000000',
       '2022-05-12T00:00:00.000000000', '2022-05-11T00:00:00.000000000',
       '2022-05-10T00:00:00.000000000', '2022-05-09T00:00:00.000000000',
       '2022-05-08T00:00:00.000000000', '2022-05-07T00:00:00.000000000',
       '2022-05-06T00:00:00.000000000', '2022-05-05T00:00:00.000000000',
       '2022-05-04T00:00:00.000000000', '2022-05-03T00:00:00.000000000',
       '2022-05-02T00:00:00.000000000', '2022-05-01T00:00:00.000000000',
       '2022-06-29T00:00:00.000000000', '2022-06-28T00:00:00.000000000',
       '2022-06-27T00:00:00.000000000', '2022-06-26T00:00:00.000000000',
       '2022-06-25T00:00:00.000000000', '2022-06-24T00:00:00.000000000',
       '2022-06-23T00:00:00.000000000', '2022-06-22T00:00:00.000000000',
       '2022-06-21T00:00:00.000000000', '2022-06-20T00:00:00.000000000',
       '2022-06-19T00:00:00.000000000', '2022-06-18T00:00:00.000000000',
       '2022-06-17T00:00:00.000000000', '2022-06-16T00:00:00.000000000',
       '2022-06-15T00:00:00.000000000', '2022-06-14T00:00:00.000000000',
       '2022-06-13T00:00:00.000000000', '2022-06-12T00:00:00.000000000',
       '2022-06-11T00:00:00.000000000', '2022-06-10T00:00:00.000000000',
       '2022-06-09T00:00:00.000000000', '2022-06-08T00:00:00.000000000',
       '2022-06-07T00:00:00.000000000', '2022-06-06T00:00:00.000000000',
       '2022-06-05T00:00:00.000000000', '2022-06-04T00:00:00.000000000',
       '2022-06-03T00:00:00.000000000', '2022-06-02T00:00:00.000000000',
       '2022-06-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [13]:
dataset['Date'].shape

(128975,)

In [14]:
dataset['Month'] = dataset['Date'].dt.month
dataset['Month'].unique()

array([4, 3, 5, 6], dtype=int64)

In [15]:
months = ['March','April', 'May', 'June']
dataset['Month'].replace([3,4,5,6],months, inplace = True)
dataset['Month'].unique()

array(['April', 'March', 'May', 'June'], dtype=object)

In [16]:
dataset.to_csv("C:/Users/d3040021/OneDrive - Teesside University/Interactive Visualization/Amazon Sales Report - Group 2 - ICA/Amazon Sale Report - Clean - Clean.csv")